.prettyprint {
    border: 1px solid #ced4da;
    overflow: hidden;
    padding: 0px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    border-radius: 3px;
}

.pln {
    color: #495057;
}

@media screen {
    .str,
    .atv {
        color: #0ca678;
    }
    .kwd,
    .tag {
        color: #4263eb;
    }
    .com {
        color: #f03e3e;
    }
    .typ,
    .atn,
    .dec,
    .var {
        color: #d6336c;
    }
    .lit {
        color: #37b24d;
    }
    .pun,
    .opn,
    .clo {
        color: #f76707;
    }
    .fun {
        color: #f59f00;
    }
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 3em;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none;
}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background: #f1f3f5;
}
