@media print {
	*,*::before,*::after {
		color: black !important;
		background: transparent !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,a:visited {
		text-decoration: underline;
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}@	page {
		margin: .5cm;
	}

	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}

	h2,h3 {
		page-break-after: avoid;
	}
}

*,*::before,*::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

@-ms-viewport {
	width:device-width;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display: block;
}

body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Microsoft Yahei",Arial,sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
	color: #495057;
	background-color: #f1f3f5;
}[tabindex="-1"]:focus {
	outline: none !important;
}

hr {
	overflow: visible;
	margin-top: 1em;
	margin-bottom: 1em;
	box-sizing: content-box;
	border: 0;
	border-top: 1px solid rgba(0,0,0,0.1);
	height: 0;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
	line-height: 1.5;
	color: #212529;
}

h1,.h1 {
	font-size: 36px;
}

h2,.h2 {
	font-size: 30px;
}

h3,.h3 {
	font-size: 24px;
}

h4,.h4 {
	font-size: 18px;
}

h5,.h5 {
	font-size: 14px;
}

h6,.h6 {
	font-size: 12px;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

abbr[title],abbr[data-original-title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
	cursor: help;
	-webkit-text-decoration: underline dotted;
}

address {
	font-style: normal;
}

ol,ul,dl {
	margin-top: 0;
	margin-bottom: 0;
}

ul,ol {
	padding-left: 0;
}

li {
	list-style: none;
}

dt {
	font-weight: normal;
}

dd {
	margin-left: 0;
}

blockquote {
    margin: 0 0 10px;
    padding: 10px 15px 1px;
    background: #f8f8f8;
	color:#333;
    border: 1px solid #f1f1f1;
	border-left: 6px solid #e4e4e4;
}
dfn {
	font-style: italic;
}

b,strong {
	font-weight: bolder;
}

i,em {
	font-style: normal;
}

ins {
	text-decoration: none;
	color: #666;
	background: #ffd;
}

mark {
	color: #666;
	background: #ffd;
}

q {
	font-style: italic;
}

small {
	font-size: 80%;
}

sub,sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

audio,canvas,iframe,svg,video {
	vertical-align: middle;
}

audio,canvas,video {
	box-sizing: border-box;
	max-width: 100%;
	height: auto;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:active,a:hover {
	outline: none;
}

a {
	text-decoration: none;
	color: #495057;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	color: #c92a2a;
}

pre,code,kbd,samp {
	font-family: Consolas,monaco,monospace;
	font-size: 12px;
}

pre {
	overflow: auto;
	margin-top: 0;
	margin-bottom: 1em;
	white-space: pre-wrap;
	word-wrap: break-word;
}

figure {
	margin: 0 0 1em;
}

img {
	box-sizing: border-box;
	border-style: none;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

a,area,button,input,label,select,summary,textarea {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

caption {
	caption-side: bottom;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: left;
}

th {
	font-weight: 400;
	text-align: left;
}

label {
	display: inline-block;
}

input,button,select,optgroup,textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,input {
	overflow: visible;
}

button,select {
	text-transform: none;
}

button,html [type="button"],[type="reset"],[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

input[type="radio"],input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

textarea {
	overflow: auto;
	resize: vertical;
}

fieldset {
	margin: 0;
	border: 0;
	padding: 0;
	min-width: 0;
}

legend {
	display: block;
	margin-bottom: 1em;
	padding: 0;
	width: 100%;
	max-width: 100%;
	font-size: 1em;
	line-height: inherit;
	white-space: normal;
	color: inherit;
}

progress {
	vertical-align: baseline;
}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
	height: auto;
}[type="search"] {
	outline-offset: -2px;
	-webkit-appearance: none;
}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

output {
	display: inline-block;
}

summary {
	display: list-item;
}

template {
	display: none;
}[hidden] {
	display: none !important;
}

iframe {
	border: 0;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
}

.container::after {
	display: block;
	clear: both;
	content: "";
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
}

@media (min-width:992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 1140px;
	}
}

.row {
	margin-right: -10px;
	margin-left: -10px;
}

.row::after {
	display: block;
	clear: both;
	content: "";
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
	min-height: 1px;
}

.col-1 {
	max-width: 8.333333%;
}

.col-2 {
	max-width: 16.666667%;
}

.col-3 {
	max-width: 25%;
}

.col-4 {
	max-width: 33.333333%;
}

.col-5 {
	max-width: 41.666667%;
}

.col-6 {
	max-width: 50%;
}

.col-7 {
	max-width: 58.333333%;
}

.col-8 {
	max-width: 66.666667%;
}

.col-9 {
	max-width: 75%;
}

.col-10 {
	max-width: 83.333333%;
}

.col-11 {
	max-width: 91.666667%;
}

.col-12 {
	max-width: 100%;
}

@media (min-width:576px) {
	.col-xs-1 {
		max-width: 8.333333%;
	}

	.col-xs-2 {
		max-width: 16.666667%;
	}

	.col-xs-3 {
		max-width: 25%;
	}

	.col-xs-4 {
		max-width: 33.333333%;
	}

	.col-xs-5 {
		max-width: 41.666667%;
	}

	.col-xs-6 {
		max-width: 50%;
	}

	.col-xs-7 {
		max-width: 58.333333%;
	}

	.col-xs-8 {
		max-width: 66.666667%;
	}

	.col-xs-9 {
		max-width: 75%;
	}

	.col-xs-10 {
		max-width: 83.333333%;
	}

	.col-xs-11 {
		max-width: 91.666667%;
	}

	.col-xs-12 {
		max-width: 100%;
	}
}

@media (min-width:768px) {
	.col-sm-1 {
		max-width: 8.333333%;
	}

	.col-sm-2 {
		max-width: 16.666667%;
	}

	.col-sm-3 {
		max-width: 25%;
	}

	.col-sm-4 {
		max-width: 33.333333%;
	}

	.col-sm-5 {
		max-width: 41.666667%;
	}

	.col-sm-6 {
		max-width: 50%;
	}

	.col-sm-7 {
		max-width: 58.333333%;
	}

	.col-sm-8 {
		max-width: 66.666667%;
	}

	.col-sm-9 {
		max-width: 75%;
	}

	.col-sm-10 {
		max-width: 83.333333%;
	}

	.col-sm-11 {
		max-width: 91.666667%;
	}

	.col-sm-12 {
		max-width: 100%;
	}
}

@media (min-width:992px) {
	.col-md-1 {
		max-width: 8.333333%;
	}

	.col-md-2 {
		max-width: 16.666667%;
	}

	.col-md-3 {
		max-width: 25%;
	}

	.col-md-4 {
		max-width: 33.333333%;
	}

	.col-md-5 {
		max-width: 41.666667%;
	}

	.col-md-6 {
		max-width: 50%;
	}

	.col-md-7 {
		max-width: 58.333333%;
	}

	.col-md-8 {
		max-width: 66.666667%;
	}

	.col-md-9 {
		max-width: 75%;
	}

	.col-md-10 {
		max-width: 83.333333%;
	}

	.col-md-11 {
		max-width: 91.666667%;
	}

	.col-md-12 {
		max-width: 100%;
	}
}

@media (min-width:1200px) {
	.col-lg-1 {
		max-width: 8.333333%;
	}

	.col-lg-2 {
		max-width: 16.666667%;
	}

	.col-lg-3 {
		max-width: 25%;
	}

	.col-lg-4 {
		max-width: 33.333333%;
	}

	.col-lg-5 {
		max-width: 41.666667%;
	}

	.col-lg-6 {
		max-width: 50%;
	}

	.col-lg-7 {
		max-width: 58.333333%;
	}

	.col-lg-8 {
		max-width: 66.666667%;
	}

	.col-lg-9 {
		max-width: 75%;
	}

	.col-lg-10 {
		max-width: 83.333333%;
	}

	.col-lg-11 {
		max-width: 91.666667%;
	}

	.col-lg-12 {
		max-width: 100%;
	}
}

@media (max-width:767px) {
	.hidden-xs {
		display: none !important;
	}
}

@media (max-width:991px) {
	.hidden-sm {
		display: none !important;
	}
}

@media (min-width:992px) {
	.hidden-md {
		display: none !important;
	}
}

@media (min-width:1200px) {
	.hidden-lg {
		display: none !important;
	}
}

.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}

.label {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.badge {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

.label:empty,
.badge:empty {
  display: none;
}

a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label-important,
.badge-important {
  background-color: #b94a48;
}

.label-important[href],
.badge-important[href] {
  background-color: #953b39;
}

.label-warning,
.badge-warning {
  background-color: #f89406;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

.label-success,
.badge-success {
  background-color: #468847;
}

.label-success[href],
.badge-success[href] {
  background-color: #356635;
}

.label-info,
.badge-info {
  background-color: #3a87ad;
}

.label-info[href],
.badge-info[href] {
  background-color: #2d6987;
}

.label-inverse,
.badge-inverse {
  background-color: #333333;
}

.label-inverse[href],
.badge-inverse[href] {
  background-color: #1a1a1a;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}


.btn {
	display: inline-block;
	overflow: visible;
	margin: 0;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 0 15px;
	height: 34px;
	font-size: 14px;
	font-weight: normal;
	line-height: 32px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
	-webkit-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn:focus,.btn:hover {
	text-decoration: none;
}

.btn:focus {
	outline: none;
}

.btn.disabled,.btn:disabled {
	opacity: .65;
	cursor: not-allowed;
}

.btn-primary {
	border-color: #c92a2a;
	color: #fff;
	background-color: #c92a2a;
}

.btn-primary:hover {
	border-color: #9f2121;
	color: #fff;
	background-color: #a92323;
}

.btn-primary.disabled,.btn-primary:disabled {
	border-color: #c92a2a;
	background-color: #c92a2a;
}

.btn-primary:active,.btn-primary.active {
	border-color: #9f2121;
	color: #fff;
	background-color: #9f2121;
}

.btn-block + .btn-block {
	margin-top: 5px;
}

.btn-block {
	display: block;
	width: 100%;
}

input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block {
	width: 100%;
}

.btn-small {
	height: 30px;
	line-height: 28px;
}

.btn-big {
	height: 38px;
	line-height: 36px;
}

.btn-height-small {
	line-height: 30px;
}

.btn-height-base {
	line-height: 34px;
}

.btn-height-big {
	line-height: 38px;
}

.input,.textarea {
	border-radius: 0;
}

.input::-moz-placeholder,.textarea::-moz-placeholder {
	opacity: 1;
}

.input,.textarea {
	-webkit-appearance: none;
}

.input,.textarea {
	border: 1px solid #e9ecef;
	padding: 0 7px;
	width: 100%;
	max-width: 100%;
	font-size: 14px;
	color: #495057;
	background: #fff;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.input {
	display: inline-block;
	height: 34px;
	vertical-align: middle;
}

.input:not(input) {
	line-height: 32px;
}

.textarea {
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 117px;
	vertical-align: top;
}

.input:focus,.textarea:focus {
	border-color: #c92a2a;
	color: #495057;
	background-color: #fff;
	outline: none;
}

.input:disabled,.textarea:disabled {
	border-color: #e9ecef;
	color: #868e96;
	background-color: #f1f3f5;
}

.input:-ms-input-placeholder {
	color: #868e96 !important;
}

.input::-moz-placeholder {
	color: #868e96;
}

.input::-webkit-input-placeholder {
	color: #868e96;
}

.textarea:-ms-input-placeholder {
	color: #868e96 !important;
}

.textarea::-moz-placeholder {
	color: #868e96;
}

.textarea::-webkit-input-placeholder {
	color: #868e96;
}

.form-small:not(textarea):not([multiple]):not([size]) {
	height: 30px;
}

.form-small:not(select):not(input):not(textarea) {
	line-height: 28px;
}

.form-big:not(textarea):not([multiple]):not([size]) {
	height: 38px;
}

.form-big:not(select):not(input):not(textarea) {
	line-height: 36px;
}

.img-circle {
	border-radius: 50%;
}

.img-radius {
	border-radius: 4px;
}

.img-thumbnail {
	border: 1px solid #e9ecef;
	border-radius: 4px;
	padding: 4px;
	background-color: #fff;
}

.m-0 {
	margin: 0;
}

.mr-0 {
	margin-right: 0;
}

.mr-1 {
	margin-right: 5px;
}

.mr-2 {
	margin-right: 10px;
}

.mr-3 {
	margin-right: 15px;
}

.mr-4 {
	margin-right: 20px;
}

.mr-5 {
	margin-right: 25px;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: 5px;
}

.mb-2 {
	margin-bottom: 10px;
}

.mb-3 {
	margin-bottom: 15px;
}

.mb-4 {
	margin-bottom: 20px;
}

.mb-5 {
	margin-bottom: 25px;
}

.ml-0 {
	margin-left: 0;
}

.ml-1 {
	margin-left: 5px;
}

.ml-2 {
	margin-left: 10px;
}

.ml-3 {
	margin-left: 15px;
}

.ml-4 {
	margin-left: 20px;
}

.ml-5 {
	margin-left: 25px;
}

.mt-0 {
	margin-top: 0;
}

.mt-1 {
	margin-top: 5px;
}

.mt-2 {
	margin-top: 10px;
}

.mt-3 {
	margin-top: 15px;
}

.mt-4 {
	margin-top: 20px;
}

.mt-5 {
	margin-top: 25px;
}

.bg-primary {
	background-color: #c92a2a !important;
}

.border {
	border: 1px solid #e9ecef !important;
}

.border-none {
	border: 0 !important;
}

.border-primary {
	border-color: #c92a2a !important;
}

.clearfix::after {
	display: block;
	clear: both;
	content: "";
}

.d-none {
	display: none !important;
}

.d-inline {
	display: inline !important;
}

.d-inline-block {
	display: inline-block !important;
}

.d-block {
	display: block !important;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.tal {
	text-align: left !important;
}

.tac {
	text-align: center !important;
}

.tar {
	text-align: right !important;
}

.text-primary {
	color: #c92a2a !important;
}

a.text-primary:focus,a.text-primary:hover {
	color: #9f2121 !important;
}

.text-hide {
	border: 0;
	font: 0/0 a;
	color: transparent;
	background-color: transparent;
	text-shadow: none;
}

::-moz-selection {
	color: #fff;
	background: #39f;
	text-shadow: none;
}

::selection {
	color: #fff;
	background: #39f;
	text-shadow: none;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-button:vertical {
	display: none;
}

::-webkit-scrollbar-corner,::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0.15);
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:vertical:hover {
	background-color: rgba(0,0,0,0.25);
}

::-webkit-scrollbar-thumb:vertical:active {
	background-color: rgba(0,0,0,0.3);
}

.am-box {
	padding: 25px;
	background-color: #fff;
}

.echo-main {
	margin-bottom: 15px;
	background-color: #fff;
}

@media (max-width:767px) {
	.main-left {
		display: none;
	}

	.main-right {
		display: none;
	}
}

@media (min-width:768px) {
	.main-left {
		float: left;
		position: relative;
		margin-right: -180px;
		width: 180px;
	}

	.main-center {
		float: left;
		width: 100%;
	}

	.main-cont {
		margin-left: 205px;
	}

	.main-right {
		display: none;
	}
}

@media (min-width:1200px) {
	.main-left {
		float: left;
		position: relative;
		margin-right: -180px;
		width: 180px;
	}

	.main-center {
		float: left;
		width: 100%;
	}

	.main-cont {
		margin: 0 275px 0 205px;
	}

	.main-right {
		display: block;
		float: right;
		position: relative;
		margin-left: -250px;
		width: 250px;
	}
}

@media (max-width:767px) {
	.echo-main {
		padding: 15px;
	}

	.col-left {
		display: none;
	}

	.col-right {
		margin-right: -10px;
		margin-left: -10px;
	}
}

@media (min-width:768px) {
	.echo-main {
		padding: 15px 25px;
	}

	.col-left {
		float: left;
		position: relative;
		margin-right: -180px;
		width: 180px;
	}

	.col-right {
		float: right;
		width: 100%;
	}

	.col-cont {
		margin-left: 205px;
	}
}

@media (max-width:991px) {
	.am-box {
		margin-right: -10px;
		margin-left: -10px;
	}
}

.am-left {
	float: left;
	position: relative;
}

.am-right {
	float: right;
	width: 100%;
}

.am-left-s {
	margin-right: -40px;
	width: 40px;
}

.am-left-s img {
	width: 40px;
	height: 40px;
}

.am-right-s {
	margin-left: 48px;
}

.am-left-b {
	margin-right: -56px;
	width: 56px;
}

.am-left-b img {
	width: 56px;
	height: 56px;
}


.breadcrumb {
	margin-bottom: 15px;
}

.am-page {
	font-size: 0;
	line-height: 0;
	text-align: center;
}

.am-page .page-items {
	display: inline-block;
}

.am-page .page-items a,.am-page .page-items span {
	display: block;
	float: left;
	margin: 0 5px;
	width: 35px;
	height: 28px;
	font-size: 14px;
	line-height: 26px;
	background-color: #fff;
}

.am-page .page-items a {
	border: 1px solid #e9ecef;
	color: #868e96;
}

.am-page .page-items a:hover {
	border: 1px solid #c92a2a;
	color: #fff;
	background-color: #c92a2a;
}

.am-page .page-items span {
	border: 1px solid #c92a2a;
	color: #c92a2a;
}

.am-backtop {
	display: none;
	z-index: 21;
	right: 10px;
	bottom: 35px;
	border-radius: 2px;
	padding: 7px;
	width: 35px;
	height: 35px;
	color: #fff;
	background-color: #c92a2a;
}

@media (max-width:991px) {
	.header-nav {
		float: right;
		position: relative;
	}

	.header-nav-bar {
		display: block;
		margin: 0 10px;
		width: 25px;
		line-height: 60px;
		text-align: center;
		color: #fff;
	}

	.header-nav-list {
		position: absolute;
		z-index: 11;
		top: 60px;
		right: 0;
		width: 232px;
		background-color: #fff;
		-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
	}

	.header-nav-list li a {
		display: block;
		padding: 0 15px;
		height: 35px;
		line-height: 35px;
	}

	.header-nav-list li a:hover {
		background-color: #f1f3f5;
	}
	.header-nav-list li.active a{
		background-color: #4a0202;
	}

	.header-nav-list .nav-arrow {
		position: absolute;
		top: -14px;
		right: 21px;
		border: 7px solid;
		border-color: transparent transparent #fff;
		width: 0;
		height: 0;
	}

	.header-search {
		float: right;
		display: none;
	}

	.header-search-bar {
		display: block;
		margin: 0 5px;
		width: 25px;
		line-height: 60px;
		text-align: center;
		color: #fff;
	}

	.header-search-list {
		position: absolute;
		z-index: 11;
		top: 60px;
		right: 0;
		left: 0;
		padding: 35px 15px;
		background-color: #fff;
	}

	.header-search-list input {
		margin: 0;
		border: 1px solid #c92a2a;
		border-radius: 2px;
		padding: 0 7px;
		width: 100%;
		height: 30px;
		font: inherit;
		line-height: 28px;
		vertical-align: middle;
		background-color: #fff;
	}

	.header-search-list input:focus {
		outline: none;
	}
}

@media (min-width:992px) {
	.header-nav {
		float: left;
	}

	.header-nav-bar {
		display: none;
	}

	.header-nav-list {
		display: block !important;
	}

	.header-nav-list li {
		float: left;
	}

	.header-nav-list li a {
		display: block;
		float: left;
		padding: 0 20px;
		height: 60px;
		line-height: 60px;
		color: #f1f3f5;
	}

	.header-nav-list li a:hover {
		background-color: #4a0202;
	}
	.header-nav-list li.active a{
		background-color: #4a0202;
	}

	.header-search {
		float: right;
		display: none;
	}

	.header-search-bar {
		display: none;
	}

	.header-search-list {
		display: block !important;
		margin-top: 15px;
		width: 250px;
	}

	.header-search-list input {
		margin: 0;
		border: none;
		border-radius: 2px;
		padding: 0 7px;
		width: 100%;
		height: 30px;
		font: inherit;
		line-height: 30px;
		vertical-align: middle;
		background-color: #fff;
	}

	.header-search-list input:focus {
		outline: none;
	}
}

.header-wrap {
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	width: 100%;
	background-color: #c92a2a;
}

.header-logo {
	float: left;
	width: 200px;
	height: 60px;
}

.header-logo img {
	width: 200px;
	height: 60px;
}

.footer-wrap {
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	padding: 15px 0;
	width: 100%;
	color: #f1f3f5;
	background-color: #c92a2a;
}

.footer-wrap a {
	color: #f1f3f5;
}

@media (max-width:991px) {
	.footer-left {
		display: none;
	}

	.footer-right {
		text-align: center;
	}

	.footer-right ul {
		display: inline-block;
	}

	.footer-right li {
		float: left;
		margin: 0 5px;
	}
}

@media (min-width:992px) {
	.footer-left {
		float: left;
	}

	.footer-left li {
		float: left;
		margin-right: 10px;
	}

	.footer-right {
		float: right;
	}

	.footer-right li {
		float: left;
		margin-left: 10px;
	}
}

.index-swiper {
	margin-bottom: 10px;
	padding: 0 10px;
	height: 35px;
	background-color: #fff5f5;
}

.index-swiper i {
	float: left;
	line-height: 35px;
}

.index-swiper li {
	overflow: hidden;
	padding-left: 25px;
	height: 35px;
	line-height: 35px;
}

.index-swiper li a {
	float: left;
}

.index-swiper li span {
	margin-left: 15px;
	color: #868e96;
}

.index-brand .brand-img img {
	width: 100%;
}

.index-brand .brand-link li {
	float: left;
	padding: 15px;
}

.index-info {
	padding: 10px 15px;
	font-size: 16px;
}

.list-loop {
	margin-bottom: 25px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

.list-title {
	padding: 10px 15px;
}

.list-title a {
	font-size: 18px;
	color: #c92a2a;
}

.list-title a:hover {
	text-decoration: underline;
}

.list-des {
	padding: 0 15px;
	color: #495057;
}

.list-des .readmore {
	display: none;
}

.list-info {
	margin-top: 15px;
	border-top: 1px solid #f1f3f5;
	padding: 10px 15px;
	line-height: 24px;
	color: #868e96;
}

.list-info a {
	color: #868e96;
}

.list-info a:hover {
	color: #c92a2a;
}

.list-info i {
	line-height: 24px;
}

.list-info .avatar img {
	float: left;
	margin-right: 10px;
	border-radius: 50%;
	width: 24px;
	height: 24px;
}

.echo-info {
	margin-bottom: 15px;
	border-bottom: 1px solid #e9ecef;
	padding-bottom: 10px;
}

.echo-info img {
	border: 1px solid #e9ecef;
	border-radius: 50%;
}

.echo-info .t-info {
	color: #868e96;
	margin-bottom: 10px;
}

.echo-info .t-info span {
	float: left;
	margin-right: 10px;
}

.echo-info .t-info a {
	color: #868e96;
}

.echo-info .t-info a:hover {
	color: #c92a2a;
}

.echo-info .t-info i {
	color: #868e96;
}

.echo-article {
	font-size: 14px;
	line-height: 1.65;
	word-wrap: break-word;
}

.echo-article p {
	margin-bottom: 10px;
}

.echo-article i,.echo-article em {
	font-style: italic;
}

.echo-article img {
	vertical-align: top;
}

.echo-article ul,.echo-article ol {
	padding-left: 2em;
}

.echo-article ul li {
	list-style: disc outside;
}

.echo-article ol li {
	list-style: decimal outside;
}

.echo-article dt {
	font-weight: 700;
}

.echo-article dd {
	margin-left: 15px;
}

.echo-article pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.echo-article .blockquote {
	border-left: 5px solid #81c784;
	border-radius: 0 4px 4px 0;
	padding: 10px;
	font-size: 14px;
	line-height: 1.75;
	background-color: #f1f3f5;
}

.echo-article .attachment {
	display: block;
	padding-left: 2em;
	height: 2em;
	line-height: 2em;
	background: url(../images/att.png) 0 center no-repeat;
}

.echo-operate {
	margin-top: 15px;
	border-top: 1px solid #e9ecef;
	padding-top: 15px;
}

.echo-operate .blog-tags a {
	display: block;
	float: left;
	margin: 5px 5px 0 0;
	border-radius: 2px;
	padding: 0 15px;
	height: 24px;
	line-height: 24px;
	color: #fff;
}

.echo-operate .blog-tags a:nth-child(5n) {
	background-color: #4a4a4a;
}

.echo-operate .blog-tags a:nth-child(5n+1) {
	background-color: #ff5e5c;
}

.echo-operate .blog-tags a:nth-child(5n+2) {
	background-color: #ffbb50;
}

.echo-operate .blog-tags a:nth-child(5n+3) {
	background-color: #1ac756;
}

.echo-operate .blog-tags a:nth-child(5n+4) {
	background-color: #19b5fe;
}

.echo-operate .blog-tags a:hover {
	background-color: #c92a2a;
}

@media (max-width:991px) {
	.echo-readmore .t-hotlog {
		margin-bottom: 15px;
	}
}

@media (min-width:992px) {
	.echo-readmore .t-hotlog {
		float: left;
		padding-right: 15px;
		width: 50%;
	}

	.echo-readmore .t-random {
		float: left;
		padding-left: 15px;
		width: 50%;
	}
}

.echo-neighbor {
	padding: 15px 25px;
	background: url(../images/sidebar_title_bg.png) repeat center top #fff;
}

.echo-neighbor a {
	display: block;
	overflow: hidden;
	position: relative;
	width: 50%;
	height: 21px;
}

.echo-neighbor a em {
	position: absolute;
	top: 0;
}

.echo-neighbor .t-left {
	float: left;
	padding: 0 21px;
	text-align: left;
}

.echo-neighbor .t-left em {
	left: 0;
}

.echo-neighbor .t-right {
	float: right;
	padding: 0 21px;
	text-align: right;
}

.echo-neighbor .t-right em {
	right: 0;
}

.echo-readmore li {
	overflow: hidden;
	height: 28px;
	line-height: 28px;
}

.echo-readmore li span {
	display: block;
	float: left;
	margin: 6px 7px 0 0;
	width: 16px;
	height: 16px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	background-color: #c92a2a;
}

.echo-readmore .t-title {
	margin-bottom: 10px;
	border-bottom: 1px dotted #c92a2a;
	padding-bottom: 5px;
	font-size: 16px;
}

.echo-readmore .t-title span {
	display: block;
	float: left;
	margin: 5px 10px 0 0;
	width: 14px;
	height: 14px;
	background-color: #c92a2a;
}

.sidebar-box {
	margin-bottom: 25px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

.sidebar-title {
	border-bottom: 1px solid #f1f3f5;
	padding: 7px 15px;
	font-size: 16px;
	background: url(../images/sidebar_title_bg.png) repeat center top;
}

.sidebar-swiper {
	padding: 10px;
}

.sidebar-swiper a {
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.sidebar-swiper img {
	width: 100%;
	height: auto;
}

.sidebar-info {
	padding: 75px 0 10px;
	text-align: center;
	background: url(../images/profile.png) center top no-repeat;
}

.sidebar-info .t-img a {
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	padding: 5px;
	width: 90px;
	height: 90px;
	background: rgba(255,255,255,0.5);
}

.sidebar-info .t-img img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.sidebar-info .t-name {
	font-size: 16px;
}

.sidebar-info .t-intro {
	margin-top: 5px;
	color: #868e96;
}

.sidebar-calendar {
	padding: 10px;
}

.sidebar-calendar .calendartop {
	width: 100%;
}

.sidebar-calendar .calendartop td {
	line-height: 28px;
	text-align: center;
}

.sidebar-calendar .calendartop a {
	display: inline-block;
	width: 28px;
	font-size: 18px;
}

.sidebar-calendar .calendar {
	width: 100%;
}

.sidebar-calendar .calendar td {
	border: 1px solid #e9ecef;
	height: 28px;
	line-height: 26px;
	text-align: center;
}

.sidebar-calendar .calendar a {
	color: #c92a2a;
}

.sidebar-calendar .calendar .day {
	background-color: #f1f3f5;
}

.sidebar-twitter {
	padding: 10px;
}

.sidebar-twitter li + li {
	margin-top: 10px;
	border-top: 1px dotted #e9ecef;
	padding-top: 10px;
}

.sidebar-twitter p {
	margin-bottom: 10px;
}

.sidebar-twitter span {
	color: #868e96;
}

.sidebar-twitter a {
	color: #868e96;
}

.sidebar-twitter a:hover {
	color: #c92a2a;
}

.sidebar-tag {
	margin: 10px 0 0 10px;
}

.sidebar-tag a {
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	padding: 0 10px;
	height: 24px;
	font-size: 12px;
	line-height: 24px;
	background-color: #f1f3f5;
}

.sidebar-sort {
	padding: 10px;
}

.sidebar-sort li a {
	display: block;
	padding: 5px 0;
}

.sidebar-sort li li a {
	padding-left: 1em;
}

.sidebar-sort li li span {
	display: block;
	float: left;
	margin: 9px 6px 0 5px;
	width: 3px;
	height: 3px;
	background-color: #495057;
}

.sidebar-archive {
	padding: 10px;
}

.sidebar-archive li a {
	display: block;
	padding: 5px 0;
}

.sidebar-archive li a span {
	display: block;
	float: left;
	margin: 9px 6px 0 5px;
	width: 3px;
	height: 3px;
	background-color: #495057;
}

.sidebar-newcomm {
	padding: 10px;
}

.sidebar-newcomm li + li {
	margin-top: 10px;
	border-top: 1px dotted #e9ecef;
	padding-top: 10px;
}

.sidebar-log {
	padding: 10px;
}

.sidebar-log li + li {
	margin-top: 5px;
	border-top: 1px dotted #e9ecef;
	padding-top: 5px;
}

.sidebar-link {
	padding: 10px;
}

.sidebar-link li {
	float: left;
	width: 50%;
}

.sidebar-link a {
	display: block;
	padding: 5px 0;
}

.sidebar-search {
	padding: 10px;
}

.sidebar-custom {
	padding: 10px;
}

.side-box {
	margin-bottom: 25px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

.side-nav {
	margin-bottom: 25px;
	background-color: #fff;
}

.side-nav ul {
	border: 1px solid #e9ecef;
}

.side-nav li + li {
	border-top: 1px solid #f1f3f5;
}

.side-nav li a {
	display: block;
	padding: 10px;
	width: 178px;
	box-sizing: border-box;
	height: 41px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.side-nav li a:hover {
	background-color: #f8f9fa;
}

.side-code img {
	width: 100%;
}

.side-address {
	padding: 5px;
}

.side-address li {
	padding: 5px 0;
}

.side-address li i {
	margin-right: 5px;
	line-height: 1.5;
}

.page-title {
	margin-bottom: 15px;
	border-bottom: 1px solid #e9ecef;
	padding-bottom: 10px;
}

.page-twitter li {
	display: block;
	margin-bottom: 35px;
	border-bottom: 1px solid #e9ecef;
}

.page-twitter .p-ct {
	line-height: 1.75;
}

.page-twitter .p-ct img {
	margin-top: 5px;
}

.page-twitter .p-ft {
	margin: 15px auto;
	color: #868e96;
}

@media (max-width:991px) {
	.echo-comments-post .li-input {
		display: block;
		padding-bottom: 10px;
		width: 100%;
	}

	.echo-comments-post .li-code {
		display: block;
		position: relative;
		margin-bottom: 10px;
	}

	.echo-comments-post .li-code img {
		position: absolute;
		z-index: 1;
		top: 2px;
		right: 2px;
		width: 95px;
		height: 30px;
		cursor: pointer;
	}
}

@media (min-width:992px) {
	.echo-comments-post .li-input {
		float: left;
		padding-bottom: 10px;
	}

	.echo-comments-post .li-left {
		padding-right: 15px;
		width: 35%;
	}

	.echo-comments-post .li-right {
		width: 30%;
	}

	.echo-comments-post .li-code {
		display: block;
		float: left;
		position: relative;
		width: 250px;
	}

	.echo-comments-post .li-code img {
		position: absolute;
		z-index: 1;
		top: 2px;
		right: 2px;
		width: 95px;
		height: 30px;
		cursor: pointer;
	}
}

.echo-comments-header {
	position: relative;
	border-bottom: 1px solid #e9ecef;
	padding-bottom: 5px;
	font-size: 16px;
}

.echo-comments-header:after {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 80px;
	height: 1px;
	background-color: #c92a2a;
	content: "";
}

.echo-comments-list {
	margin-bottom: 15px;
}

.echo-comments-list li {
	margin-bottom: 15px;
	padding-top: 15px;
}

.echo-comments-list .items-info {
	margin-bottom: 5px;
	border-bottom: 1px solid #e9ecef;
	color: #868e96;
}

.echo-comments-list .items-info i {
	color: #868e96;
}

.echo-comments-list .items-info i:hover {
	color: #c92a2a;
}

.echo-comments-children {
	margin-top: 10px;
	border-left: 3px solid #e9ecef;
	padding: 10px;
	background-color: #f8f9fa;
}

.echo-comments-post .cancel-reply {
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: right;
}
